.hero-unit
  %h1 No dictionaries :(
  %p
    To start working with Lang Trainer you need at least one dictionary to be created.
  %p
    = link_to "Create one", new_dictionary_path, class: "btn btn-primary"