%h1= resource.lang

%table
  %thead
    %tr
      %th Word
      %th Meaning
      %th
  %tbody
    - resource.entries.each do |entry|
      %tr
        %td= entry.word
        %td= entry.meanings.join(", ")
        %td= link_to "x", dictionary_entry_path(resource, entry), method: :delete

