.page-header
  %h1= resource.title
%table.table.table-striped
  - resource.entries.each do |entry|
    %tr
      %td{ title: pluralize(entry.frequency, "time", "times") }
        = link_to_translation entry
      %td= link_to "Add to dictionary", dictionary_entries_path(resource.dictionary.id, entry: {word: entry.word}), method: :post
      %td= link_to "Ignore", ignore_book_chapter_entry_path(parent, resource, entry), method: :put