- object.to_a.each do |obj|
  - if obj.errors.any?
    .alert.alert-error
      %button.close(type="button" data-dismiss="alert") x
      %ul
        - obj.errors.full_messages.each do |msg|
          %li= msg